<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Test Omnipet</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a310f58f3b.js" crossorigin="anonymous"></script>
    
    <!-- HzCode icon -->
    <link href="https://hzaratecode.com/hzicon.png" rel="icon">
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://hzaratecode.com/flete.png"" alt="" width="72" height="72">
        <h2>Costo de envío</h2>
        <p class="lead">Calcula el costo mas bajo de envio entre nuestros tres proveedores logisticos.</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Costo mas bajo</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Ciudad</h6>
                  <small class="text-muted">Origen</small>
                </div>
                <span class="text-muted">Example</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Ciudad</h6>
                  <small class="text-muted">Destino</small>
                </div>
                <span class="text-muted">Example</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Distancia</h6>
                <small class="text-muted">km</small>
              </div>
              <span class="text-muted">8 km</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Peso de paquete</h6>
                <small class="text-muted">Kg</small>
              </div>
              <span class="text-muted">12 kg</span>
            </li>
            
       
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
        </div>

        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Información de envio</h4>
          <form class="needs-validation" method="POST" action="">

            <div class="row mb-5">
                <div class="col-6">
                  <label for="country">Ciudad de origen</label>
                  <select class="custom-select d-block w-100" name="origen" id="origen" required>
                    <option value="">Ciudad...</option>
                    {% for ciudad in ciudades %}
                      <option>{{ciudad.nombre}}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Porfavor seleccione una ciudad valida
                  </div>
                </div>
                <div class="col-6">
                    <label for="country">Ciudad de destino</label>
                    <select class="custom-select d-block w-100" id="destino" id="destino" required>
                      <option value="">Ciudad...</option>
                      {% for ciudad in ciudades %}
                        <option>{{ciudad.nombre}}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                      Porfavor seleccione una ciudad valida
                    </div>
                  </div>
            </div>

            <h5 class="mb-2">Medidas y peso del paquete</h5>
            <div class="row mb-5">
                <div class="col-3">
                  <label for="firstName">Alto</label>
                  <input type="text" class="form-control" name="alto" id="alto" placeholder="cm" value="" required>
                  <div class="invalid-feedback">
                    Este campo es necesario
                  </div>
                </div>
                <div class="col-3">
                  <label for="lastName">Ancho</label>
                  <input type="text" class="form-control" name="ancho" id="ancho" placeholder="cm" value="" required="">
                  <div class="invalid-feedback">
                    Este campo es necesario
                  </div>
                </div>
                <div class="col-3">
                  <label for="lastName">Largo</label>
                  <input type="text" class="form-control" name="largo" id="largo" placeholder="cm" value="" required="">
                  <div class="invalid-feedback">
                    Este campo es necesario
                  </div>
                </div>
                <div class="col-3">
                  <label for="lastName">Peso</label>
                  <input type="text" class="form-control" name="peso" id="peso" placeholder="kg" value="" required="">
                  <div class="invalid-feedback">
                    Este campo es necesario
                  </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>          
      <footer class="pt-3 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 HzCode</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Site</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>